<div class="panel mt-4">
  <%= image_tag @ad.picture(:display), html: { class: "card-img-top img-fluid", alt: @ad.title }, style: "width: 100%" %>
  <div class="panel-body">
    <h3 class="panel-title"><%= @ad.title %></h3>
    <h4><%= humanized_money_with_symbol @ad.price %></h4>
    <div><%= @ad.description.html_safe %></div>
  </div>

  <div class="well well-sm mr-5 ml-5">
    <div class="ratings">
      <p class="pull-right"><%= @ad.rates('quality').count %> <%= @ad.rates('quality').count > 1 ? 'reviews' : 'review' %></p>
      <p><%= rating_for @ad, 'quality' %></p>
    </div>
  </div>

</div>
<!-- /.card -->

<div class="panel my-4">
  <div class="panel-heading">
    <h4>Product Reviews</h4>
  </div>
  <div class="panel-body">
    <%= render partial: 'site/ad_detail/comments' %>

    <% if member_signed_in? %>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">Deixe um comentário</button>
    <% else %>
      <%= link_to "Efetue login para comentar", new_member_session_path, class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<!-- /.card -->

<%= render partial: "site/ad_detail/comment_modal" %>