<h1>Meus dados</h1>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'site/profile/ads' %>
<% end %>

<% if @profile_member.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @profile_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@profile_member, url: site_profile_my_datum_path(@profile_member)) do |f| %>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control", placeholder: "Nome" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control", placeholder: "Sobrenome" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :birthdate %>
        <div class="input-group">
           <%= f.text_field :birthdate, class: "form-control datepicker", value: (l(@profile_member.birthdate) unless @profile_member.birthdate.blank?) %>
        </div>
      </div>
    </div>
  </div>
  <%= submit_tag "Salvar alterações", class: "btn btn-success" %>
<% end %>